/* @import url(variables.css); */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

body, html {
    /* font-family: var(--font-letra); */
    min-height: 100vh;
    min-width: 100vw;
    background-color: #252525;
}

.custom-scroll::-webkit-scrollbar {
    display: none; /* Ocultar barra de desplazamiento en Chrome, Safari y Opera */
}

.custom-scroll {
    -ms-overflow-style: none;  /* Ocultar barra de desplazamiento en Internet Explorer y Edge */
    scrollbar-width: none; /* Ocultar barra de desplazamiento en Firefox */
}
